In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
covid_df = pd.read_csv('rcsb_pdb_custom_report_20211103172321.csv')

In [3]:
covid_df

,Entry ID,PDB ID,Resolution (Å),Asym ID,Source Organism,Gene Name,Entry Id (Polymer Entity Identifiers),Accession Code(s),Database Name
0,6XRZ,6XRZ,6.9,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,6XRZ,1860584649,GenBank
1,7LYJ,7LYJ,2.11,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7LYJ,NaN,NaN
2,7MKY,7MKY,1.31,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7MKY,NaN,NaN
3,7ACT,7ACT,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,N,7ACT,P0DTC9,UniProt
4,NaN,NaN,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7ACT,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12127,NaN,NaN,NaN,NaN,NaN,rep,NaN,NaN,NaN
12128,NaN,NaN,NaN,NaN,NaN,1a-1b,NaN,NaN,NaN
12129,NaN,NaN,NaN,NaN,Homo sapiens,UBB,5WFI,P0CG47,UniProt
12130,NaN,NaN,NaN,NaN,NaN,UBB,NaN,NaN,NaN
12131,7CBC,7CBC,1.99,NaN,synthetic construct,NaN,7CBC,NaN,NaN

In [4]:
# if Entry ID or PDB ID is NaN, will be deleted.
covid_df.drop(covid_df[covid_df['Entry ID'].isnull() | covid_df['PDB ID'].isnull()].index,
    axis=0, inplace=True)

In [5]:
# filter out other organism
covid_df = covid_df[covid_df['Source Organism']=='Severe acute respiratory syndrome coronavirus 2']

In [6]:
covid_df

,Entry ID,PDB ID,Resolution (Å),Asym ID,Source Organism,Gene Name,Entry Id (Polymer Entity Identifiers),Accession Code(s),Database Name
0,6XRZ,6XRZ,6.9,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,6XRZ,1860584649,GenBank
1,7LYJ,7LYJ,2.11,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7LYJ,NaN,NaN
2,7MKY,7MKY,1.31,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7MKY,NaN,NaN
3,7ACT,7ACT,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,N,7ACT,P0DTC9,UniProt
5,7ACS,7ACS,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,N,7ACS,P0DTC9,UniProt
...,...,...,...,...,...,...,...,...,...
8838,7ORW,7ORW,1.95,NaN,Severe acute respiratory syndrome coronavirus 2,rep,7ORW,P0DTD1,UniProt
8842,7ORV,7ORV,1.95,NaN,Severe acute respiratory syndrome coronavirus 2,rep,7ORV,P0DTD1,UniProt
8846,7ORU,7ORU,1.67,NaN,Severe acute respiratory syndrome coronavirus 2,rep,7ORU,P0DTD1,UniProt
8850,7ORR,7ORR,1.79,NaN,Severe acute respiratory syndrome coronavirus 2,rep,7ORR,P0DTD1,UniProt
9019,6Z6I,6Z6I,2,NaN,Severe acute respiratory syndrome coronavirus 2,rep,6Z6I,P0DTD1,UniProt

In [7]:
# remove tuples in column 'Resolution (Å)'. 
temp = []
for i in covid_df['Resolution (Å)'].values:
    
    if not pd.isna(i):
        com_index = i.find(',')

        if com_index > 0:
            first_part = i[:com_index]
            second_part = i[com_index+1:len(i)]

            i = first_part
    
    temp.append(i)

In [8]:
covid_df['resolution'] = temp

/var/folders/n0/40xgj50n3mbbf_bz_f1z0_100000gn/T/ipykernel_32161/2165611679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['resolution'] = temp

In [9]:
covid_df['resolution'] = covid_df['resolution'].astype(float)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 9019
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Entry ID                               1354 non-null   object
 1   PDB ID                                 1354 non-null   object
 2   Resolution (Å)                         1345 non-null   object
 3   Asym ID                                0 non-null      float64
 4   Source Organism                        1354 non-null   object
 5   Gene Name                              1326 non-null   object
 6   Entry Id (Polymer Entity Identifiers)  1354 non-null   object
 7   Accession Code(s)                      1350 non-null   object
 8   Database Name                          1350 non-null   object
 9   resolution                             1345 non-null   float64
dtypes: float64(2), object(8)
memory usage: 116.4+ KB

/var/folders/n0/40xgj50n3mbbf_bz_f1z0_100000gn/T/ipykernel_32161/3729832777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['resolution'] = covid_df['resolution'].astype(float)

In [10]:
new_df = covid_df.groupby(by= ['Database Name', 'Accession Code(s)']).agg({'resolution':'min'})
new_df

                                 resolution
Database Name Accession Code(s)
GenBank       1860584649              6.900
UniProt       A0A6B9VNL0              1.300
              A0A6M6B9J6              2.902
              A0A6N1BWN9              3.500
              A0A7L9RWV7              2.256
              A0A7S6Y2X1              4.300
              P0C6X7                  1.460
              P0DTC1                  1.474
              P0DTC2                  1.243
              P0DTC3                  2.080
              P0DTC4                    NaN
              P0DTC7                  2.200
              P0DTC8                  1.610
              P0DTC9                  1.101
              P0DTD1                  0.770
              P0DTD2                  1.950

In [11]:
new_df.reset_index(inplace=True)
new_df

   Database Name Accession Code(s)  resolution
0        GenBank        1860584649       6.900
1        UniProt        A0A6B9VNL0       1.300
2        UniProt        A0A6M6B9J6       2.902
3        UniProt        A0A6N1BWN9       3.500
4        UniProt        A0A7L9RWV7       2.256
5        UniProt        A0A7S6Y2X1       4.300
6        UniProt            P0C6X7       1.460
7        UniProt            P0DTC1       1.474
8        UniProt            P0DTC2       1.243
9        UniProt            P0DTC3       2.080
10       UniProt            P0DTC4         NaN
11       UniProt            P0DTC7       2.200
12       UniProt            P0DTC8       1.610
13       UniProt            P0DTC9       1.101
14       UniProt            P0DTD1       0.770
15       UniProt            P0DTD2       1.950

In [12]:
pd.merge(new_df,covid_df,how='left', on=['Database Name', 'Accession Code(s)', 'resolution'])

,Database Name,Accession Code(s),resolution,Entry ID,PDB ID,Resolution (Å),Asym ID,Source Organism,Gene Name,Entry Id (Polymer Entity Identifiers)
0,GenBank,1860584649,6.900,6XRZ,6XRZ,6.9,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,6XRZ
1,UniProt,A0A6B9VNL0,1.300,7AEH,7AEH,1.3,NaN,Severe acute respiratory syndrome coronavirus 2,orf1ab,7AEH
2,UniProt,A0A6M6B9J6,2.902,7B27,7B27,2.902,NaN,Severe acute respiratory syndrome coronavirus 2,S,7B27
3,UniProt,A0A6N1BWN9,3.500,7P40,7P40,3.5,NaN,Severe acute respiratory syndrome coronavirus 2,S,7P40
4,UniProt,A0A7L9RWV7,2.256,7P35,7P35,2.256,NaN,Severe acute respiratory syndrome coronavirus 2,ORF1ab,7P35
5,UniProt,A0A7S6Y2X1,4.300,7PHG,7PHG,4.3,NaN,Severe acute respiratory syndrome coronavirus 2,S,7PHG
6,UniProt,P0C6X7,1.460,6W79,6W79,1.46,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,6W79
7,UniProt,P0DTC1,1.474,7P51,7P51,1.474,NaN,Severe acute respiratory syndrome coronavirus 2,NaN,7P51
8,UniProt,P0DTC2,1.243,7EK6,7EK6,1.243,NaN,Severe acute respiratory syndrome coronavirus 2,S,7EK6
9,UniProt,P0DTC3,2.080,7KJR,7KJR,2.08,NaN,Severe acute respiratory syndrome coronavirus 2,3a,7KJR
10,UniProt,P0DTC4,NaN,7K3G,7K3G,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,E,7K3G
11,UniProt,P0DTC7,2.200,7CI3,7CI3,2.2,NaN,Severe acute respiratory syndrome coronavirus 2,ORF7a,7CI3
12,UniProt,P0DTC8,1.610,7JX6,7JX6,1.61,NaN,Severe acute respiratory syndrome coronavirus 2,8,7JX6
13,UniProt,P0DTC9,1.101,7LUZ,7LUZ,1.101,NaN,Severe acute respiratory syndrome coronavirus 2,N,7LUZ
14,UniProt,P0DTD1,0.770,7KR0,7KR0,0.77,NaN,Severe acute respiratory syndrome coronavirus 2,rep,7KR0
15,UniProt,P0DTD2,1.950,6Z4U,6Z4U,1.95,NaN,Severe acute respiratory syndrome coronavirus 2,9b,6Z4U

In [20]:
gene_df = covid_df.groupby(by= 'Gene Name').agg({'resolution':'min'})
gene_df.reset_index(inplace=True)
gene_df

   Gene Name  resolution
0         3a       2.080
1         7a       2.900
2          8       1.610
3         9b       1.950
4          E         NaN
5          N       1.101
6     ORF1ab       2.190
7      ORF7a       2.200
8          S       1.243
9     orf1ab       1.300
10       rep       0.770

In [21]:
pd.merge(gene_df,covid_df,how='left', on=['Gene Name', 'resolution'])

,Gene Name,resolution,Entry ID,PDB ID,Resolution (Å),Asym ID,Source Organism,Entry Id (Polymer Entity Identifiers),Accession Code(s),Database Name
0,3a,2.080,7KJR,7KJR,2.08,NaN,Severe acute respiratory syndrome coronavirus 2,7KJR,P0DTC3,UniProt
1,7a,2.900,6W37,6W37,2.9,NaN,Severe acute respiratory syndrome coronavirus 2,6W37,P0DTC7,UniProt
2,8,1.610,7JX6,7JX6,1.61,NaN,Severe acute respiratory syndrome coronavirus 2,7JX6,P0DTC8,UniProt
3,9b,1.950,6Z4U,6Z4U,1.95,NaN,Severe acute respiratory syndrome coronavirus 2,6Z4U,P0DTD2,UniProt
4,E,NaN,7K3G,7K3G,NaN,NaN,Severe acute respiratory syndrome coronavirus 2,7K3G,P0DTC4,UniProt
5,N,1.101,7LUZ,7LUZ,1.101,NaN,Severe acute respiratory syndrome coronavirus 2,7LUZ,P0DTC9,UniProt
6,ORF1ab,2.190,7NUK,7NUK,2.19,NaN,Severe acute respiratory syndrome coronavirus 2,7NUK,P0DTD1,UniProt
7,ORF7a,2.200,7CI3,7CI3,2.2,NaN,Severe acute respiratory syndrome coronavirus 2,7CI3,P0DTC7,UniProt
8,S,1.243,7EK6,7EK6,1.243,NaN,Severe acute respiratory syndrome coronavirus 2,7EK6,P0DTC2,UniProt
9,orf1ab,1.300,7AEH,7AEH,1.3,NaN,Severe acute respiratory syndrome coronavirus 2,7AEH,A0A6B9VNL0,UniProt
10,rep,0.770,7KR0,7KR0,0.77,NaN,Severe acute respiratory syndrome coronavirus 2,7KR0,P0DTD1,UniProt